DB_HOST=bucket.xxxxx.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=<contraseña>
DB_NAME=movies

S3_BUCKET=movie-analytics-lake2

DATA_PATH=/home/ubuntu/project/data

EXCHANGE_API_URL=https://api.exchangerate-api.com/v4/latest/USD